.FlyingMessage {
  display: inline-block;
  float: right;
  font-size: 12px;
  text-align: right;

  a {
    color: $md-secondary-color;
    text-decoration: none;
  }
}

.Wallet {
  display: inline-block;
  color: $md-grey-200;
  text-align: right;
  font-size: 11px;
  padding-top: 14px;
}
