.FlyingMessage {
  display: inline-block;
  float: right;
  font-size: 12px;
  text-align: right;

  a {
    color: $md-secondary-color;
    text-decoration: none;
  }
}

.Wallet {
  display: inline-block;
  color: $md-blue-grey-800;
  font-size: 12px;
}
