.FlyingMessage {
  display: inline-block;
  font-size: 12px;

  &.left {
    float: left;
    text-align: left;
  }

  &.right {
    float: right;
    text-align: right;
  }

  a {
    color: $md-secondary-color;
    text-decoration: none;
  }
}

.Wallet {
  display: inline-block;
  color: $md-grey-200;
  text-align: right;
  font-size: 11px;
  padding-top: 14px;
}

.AccountSearchForm {

  .address-input {
    display: inline-block;
    margin-right: 20px;
    max-width: 340px;
  }

  .address-input-btn {
    margin-bottom: 22px;
  }
}


.light-grey {
  color: $md-grey-500;
}

.grey {
  color: $md-grey-600;
}
