// @import '~react-md/src/scss/react-md';
//
// $md-media-included: true;
// $md-primary-color: $md-grey-900;
// $md-secondary-color: $md-amber-a-400;
//
// @include react-md-everything;

body {
	margin: 0;
}

.TradesTable {
  background: #c3c3c3;

  table {

    td.md-table-column {
      font-size: 12px;
      height: 18px;
      padding: 8px;
    }
  }
}
