/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

@import '~react-md/src/scss/react-md';

$md-primary-color: $md-grey-900;
$md-secondary-color: $md-red-800;

@include react-md-everything;

body {
  margin: 0;
}

html {
  padding: 0;
  border: 0;
  font-family: 'Gentium Basic', serif;
  font-size: 14px;

  .TradesTable {

    table {

      td.md-table-column {
        font-size: 12px;
        height: 18px;
        padding: 8px;
      }
    }

    a {
      color: $md-secondary-color;
      text-decoration: none;
    }
  }
}


/* COLORS */
.color-grey {
	color: $md-grey-600;
}

.bg-my-highlight {
  background-color: $md-green-50;
}
